*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.contenedor_inicio_FB {
    height: 720px;
    background-color: var(--);
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
}

.contenedor_logoYfrase{
    display: grid;
    justify-content: center;

}

.contenedor_formulario_inicio{
    background-color: beige;
    padding: 45px 50% 45px 60px;
}

.contenedor_footer_FB {
    height: 157px;
    background-color: brown;
    display: grid;
    justify-items: start;
    justify-content: space-around;
    align-items: center;
}

.contenedor_logo_FB_arr {
    background-color: rgb(58, 219, 36);
    display: grid;
    align-items: end;
    justify-content: center;
} 

.contenedor_logo_FB_aba {
    background-color: rgb(10, 85, 0);
    display: grid;
    align-items: start;
}  

.frases_inicio {
    padding: 0px 0px 0px 40%;
}

.inicio_FB {
    background-color: rgb(219, 36, 179);
    height: 450px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    justify-items: center;
}

.boton_inicio{
    display: flex; 
    flex-direction: row;   
    width: 100%;
    display: inline-block;
    font-size: 16px; color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background: rgb(52, 55, 216);
}
.boton_crear{
    display: flex; 
    flex-direction: row;   
    width: 100%;
    display: inline-block;
    font-size: 16px; color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
    background: rgb(52, 216, 52);
}


.caja_formulario{
    width: 100%;
    height: 52px;
    border: solid 1px; color: black;
    border-radius: 12px;
    background-color: chocolate;
    margin: 0px 15px 0px 15px;
}

